<%- include('../partials/header') %>
<table id="list">
    <thead>
      <tr>
        <th>Book Title</th>
        <th>Quote</th>
        <th>Thoughts</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= book.bookTitle %></td>
          <td><%= book.quote %></td>
          <% book.thoughts.forEach(function(t) { %>
          <td><%= t.thought %></td>
          <tr>
            <form action="/books/<%=book.id%>/thoughts/<%=t._id %>?_method=PUT" method="post">
                <td>
                    <input type="text" name="thought" value="<%=t.thought%>"/>
                </td>
                <td>
                    <button type="submit">Update Thought</button>
                    <form action="/thoughts/<%=t._id%>?_method=DELETE" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </form>
        </tr>
        <% }); %>
      </tbody>
    </table>






      </tbody>
  </table>